<div class="users index">
  <h2>Subjects</h2>

  <table class="listing" summary="User list">
    <tr class="header">
      <th>#</th>
      <th>User</th>
      <th>Accepted</th>
      <th>Action</th>
    </tr>
    <% @users.each do |user| %>
    <%if current_user.email != user.email%>
    <tr>
      <td><%=user.id-1%> </td>
      <td><%=user.email %> </td>
      <td><%=user.invitation_accepted_at ? 'Yes' : 'No' %> </td>
      <td><%= link_to("Show", user_path(user)) %>
        <%= link_to("Edit", edit_user_path(user)) %>
        <%= link_to("Delete", delete_user_path(user)) %></td>
    </tr>
    <%end%>
    <% end %>
  </table>
  <%= link_to "Back", :back%>
</div>