<%= form_for(@project) do |f| %>

   <table summary="Project form fields">
     <tr>
       <th>Project</th>
       <td><%= f.text_field(:project_name) %></td>
     </tr>
     <tr>
       <th>Project Description</th>
       <td><%= f.text_area(:project_description) %></td>
     </tr>
     <tr>
       <th>User</th>
        <td>
          <%=f.collection_select(:u_id, User.all, :id, :email,{}, {:prompt => true, :multiple=>true })%>
        </td>
      </tr>
     <tr>
   </table>

   <div class="form-buttons">
     <%= f.submit("Create Project") %>
   </div>
<%end%>  