<%= link_to("<< Back to List", projects_path, :class => 'back-link') %>


  <h2>Delete Project</h2>

  <%= form_for(@project, :method => 'delete') do |f| %>

    <p>Are you sure you want to permanently delete this project?</p>

    <p class="reference-name"><%= f.object.project_name %></p>

    <div class="form-buttons">
      <%= f.submit("Delete Project") %>
    </div>

  <% end %>