<div class="users index">
  <h2>Project</h2>
  <%= link_to("Add Project", new_project_path) %>
  <table class="listing" summary="User list">
    <tr class="header">
      <th>#</th>
      <th>Project</th>
      <th>User</th>
      <th>Description</th>
      <th>Actions</th>
      <th>Bugs<th>
    </tr>

    <% @project.each do |project| %>
    <% if project.user_ids.include?(current_user.id) || current_user.admin %>
    <tr>
      <td><%=project.id%> </td>
      <td><%=project.project_name%></td>
      <td><%=project.user_ids %></td>
      <td><%=project.project_description %> </td>
      <td><%= link_to("Show", project_path(project)) %>
        <%= link_to("Edit", edit_project_path(project)) %>
        <%= link_to("Delete", delete_project_path(project)) %>
      </td>
      <td>
        <%= link_to("Add bug", new_project_bug_path(project), :class => 'action new') %>
        <%= link_to("Show bugs", project_bugs_path(project), :class => 'action new') %>
      </td>
    </tr>
    <%end%>
    <%end%>
  </table>
  <%= link_to "Back", :back%>
</div>