<%=link_to "Get back",projects_path%>
<h1>Project Detail</h1>

<table>
  <tr>
    <td>Project ID </td>
    <td><%=@project.id%></td>
  <tr>
    <td>Name</td>
    <td><%=@project.project_name%></td>
  </tr>
    <td>Description</td>
    <td><%=@project.project_description%></td>
  </tr>
  </tr>
    <td>Assigned User No</td>
    <td><%=@project.user_ids%></td>
  </tr>
  </tr>
    <td>Assigned User Emails</td>
    <td>
    <%=show_emails%>
    </td>
  </tr>
</table>
