<table summary="Bug form fields">
 <tr>
    <th>Name</th>
    <td><%= f.text_field(:bug_name) %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= f.text_field(:bug_description) %></td>
  </tr>
  <tr>
    <th>Status</th>
    <td><%= f.select :status, Bug.statuses.keys %></td>
  </tr>    
</table>