<%= link_to "<<Project List", projects_path %>
<h1>List of bugs</h1>


  <table class="listing" summary="Bug list">
    <tr class="header">
      <th>#</th>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    <% @bugs.each do |bug| %>
    <tr>
      <td><%= bug.id%></td>
      <td><%= bug.bug_name %> </td>
      <td><%= bug.bug_description %> </td>
      <td><%= bug.status %></td>      
      <td><%= link_to("update", edit_project_bug_path(bug.project_id,bug))%></td>
      <!--can use "pages/#{bug.id}" or "subject_path(bug) or {:controller => bugs, :action => show, :id => bug.id}"-->
      <td><%= link_to("assign", project_assign_bug_path(bug.project_id,bug), :method => :put)%></td>
     
    </tr>
    <% end %>
  </table>
