<h1>Bug add</h1>
<%=link_to "Get back",projects_path%>
<%= form_for([@project, @bug]) do |f| %>

  <%= render(:partial => 'form', :locals => {:f => f})%>    
   
    <div class="form-buttons">
      <%= f.submit("Create Bug") %>
    </div>

  <% end %>
