<%=link_to "Back to project",projects_path%>
<h1>Bug Detail</h1>

<table>
  <tr>
    <td>Bug ID </td>
    <td><%=@bug.id%></td>
  <tr>
    <td>Name</td>
    <td><%=@bug.bug_name%></td>
  </tr>
  <tr>
    <td>Description</td>
    <td><%=@bug.bug_description%></td>
  </tr>
  </tr>
    <td>Project ID </td>
    <td><%=@project_id%></td>
  </tr>

</table>